    <!doctype html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <form method=post action="/" enctype=multipart/form-data>
      	 <input type=file name=file>
         <input type=submit value=Upload>
         <input type="hidden" name="folder" value="{{folder}}">
         
    </form>
    <form method=post action="/folder" enctype=multipart/form-data>
      	 <input type=text name=foldername>
         <input type=submit value="Add Folder">
         <input type="hidden" name="folder" value="{{folder}}">
    </form>
        <a href="/">/</a>
        <a href="/back?folder={{folder}}">..</a>
     {% for fullfile,filename in results %}
        <br><a href="/upload?file={{fullfile|urlencode}}">{{filename}} </a> | <a href=/delete?file={{fullfile|urlencode}}&folder={{folder}}>Delete</a>			
     {% endfor %}